// Navigation Styles here

  nav {
    align-self: center;
    font-size: 1.6rem;
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-left: 23%;
    margin-right: 4%;
    a {
      text-decoration: none;
      color: black;

    }
  }
